.white-background{
-fx-background-color: #fff;
}

.transparent{
-fx-background-color:#28252E;
}

.round-layout{
-fx-border-radius: 50;
-fx-border-color: #070707;
}

.selected{
-fx-background-color: #1A1A1A
}

.mouse-moved: hover{
-fx-background-color: #0F0F0F;
}

.shadow{
-fx-effect: dropShadow(three-pass-box, rgba(8,8,8,0.1), 10, 8 , 8, 10);
}

.transparent1{
-fx-background-color: #28252E;
}

.text-white {
    color: white;
}
.black-background{
-fx-background-color: #28252E;
}

.my-button {

    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}

.my-button:hover {
    /*-fx-background-color: #0F0F0F;*/
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.button {
    -fx-background-color: #dca523; /* Default button color */
}

.button:hover {
    -fx-background-color: #b78a1b; /* Darker color when hovered */
}

.scroll-pane .content {
    -fx-background-color: #28252E;
}

.Button-Orange{
-fx-background-color: #B48424;
}


.filter-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #606060; /* Gray text color */
  font-size: 14px; /* Similar font size */
  font-weight: 500; /* Slightly bold text */
  padding: 6px 12px; /* Inner spacing */
  border: 1px solid #d3d3d3; /* Border matching the button */
  border-radius: 50px; /* Rounded corners */
  cursor: pointer; /* Pointer on hover */
  white-space: nowrap; /* Prevent text wrapping */
  transition: background-color 0.2s, color 0.2s; /* Smooth hover effect */
}

.filter-button:hover {
  background-color: #e0e0e0; /* Slightly darker gray on hover */
}
