.white-background{
-fx-background-color: #fff;
}

.transparent{
-fx-background-color: #1E1F22;
}

.round-layout{
-fx-border-radius: 50;
-fx-border-color: #070707;
}

.selected{
-fx-background-color: #1A1A1A
}

.mouse-moved: hover{
-fx-background-color: #0F0F0F;
}

.shadow{
-fx-effect: dropShadow(three-pass-box, rgba(8,8,8,0.1), 10, 8 , 8, 10);
}